/* =+=+=+=+=+ GENERAL styles =+=+=+=+=+ */

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	background: var(--background-color);
	color: var(--text-black);
}

blockquote {
	margin: 0;
}

h1,
h2,
h3 {
	font-family: var(--second-family);
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.section {
	margin: 150px 0;
}

.section__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.2; /* 48/40 */
	text-align: center;
	margin-bottom: 60px;
}

/* ===== Header 1200x142px ===== */
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 142px;
	padding: 30px 0 28px;
}

.logo {
	margin-bottom: 37px;
}

.header-menu__btn {
	position: relative;
	z-index: 2;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 20px;
}

.header-menu__btn span {
	width: 100%;
	height: 2px;
	background-color: #000;
}

.header-menu__list {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	gap: 65px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.39; /* 25/18 */
	margin-left: 75px;
}

.menu--close {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: background-color 0.3s;
	background-color: rgba(0, 0, 0, 0.5);
}

.menu--close.menu--open {
	display: block;
}

.mobile-nav,
.header-menu__close {
	display: none;
}

.user-actions__list {
	display: flex;
	align-items: center;
	gap: 0 20px;
	height: 29px;
}

.user-actions__item-search {
	display: flex;
	align-items: center;
	margin-left: 80px;
}

/* ===== Section HERO 1600x500px ===== */
.section-hero {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%),
		url('../images/jpg/hero-bg.jpg');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #151618;
}

.hero__inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 500px;
	color: var(--text-white);
}

.hero__title {
	max-width: 789px;
	font-size: 60px;
	font-weight: 400;
	line-height: 1; /* 60/60 */
	margin-bottom: 20px;
}

.hero__subtitle {
	max-width: 558px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2; /* 29/24 */
	margin-bottom: 48px;
}

/* ===== Section QUOTE 704x96px ===== */
.blockquote__text {
	font-family: var(--second-family);
	max-width: 704px;
	font-size: 40px;
	font-style: italic;
	line-height: 1.2; /* 48/40 */
	text-align: center;
	margin: 0 auto;
}

/* ===== Section COLLECTIONS 1200x355px ===== */
.collections__list {
	display: flex;
	text-align: center;
	gap: 0 40px;
}

.collections__img {
	max-width: 208px;
	max-height: 208px;
	width: 100%;
}

.collections__subtitle {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2084; /* 29/24 */
}

/* ===== Section REVIEWS 1600x397px===== */
.section-reviews {
	background-color: var(--background-section);
	padding: 60px 0;
}

.reviews__list {
	display: flex;
	justify-content: center;
	gap: 0 26px;
}

.reviews__item {
	flex-basis: 280px;
}

.reviews__text {
	font-size: 16px;
	font-style: italic;
	line-height: 1.375; /* 22/16 */
	margin-bottom: 10px;
}

.reviews__author {
	display: block;
	font-style: normal;
	font-weight: 600;
	line-height: 1.35; /* 27/20 */
}

/* ===== Section BLOG 1142x619px===== */
.main-blog__list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 58px;
}

.main-blog__item {
	display: flex;
	flex-basis: 542px;
	gap: 0 20px;
}

.main-blog__item-content {
	display: flex;
	flex-direction: column;
}

.main-blog__item-title {
	min-height: 86px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 10px;
}

.main-blog__item-author {
	font-size: 13px;
	line-height: 1.3847; /* 18/13 */
}

.main-blog__item-link {
	position: relative;
	font-size: 13px;
	line-height: 1.3847; /* 18/13 */
	margin-top: auto;
}

.main-blog__item-link::after {
	content: '';
	background-image: url(../images/icons/blog/arrow-right.svg);
	position: absolute;
	width: 5px;
	height: 10px;
	margin-left: 8px;
	bottom: 3px;
}

.main-blog__link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px auto 0;
	padding: 12px 41px;
	width: 152px;
	height: 51px;
	line-height: 1.35;
	border: 1px solid #151618;
}

/* ===== Section MAILING LIST 1600x418px===== */
.section-mailing-list {
	padding: 100px 0;
	background-color: var(--background-section);
	background-image: url(../images/icons/mailing/mailing-bg.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.mailing-list__title {
	text-align: start;
	margin-bottom: 50px;
}

.mailing-list__inner {
	display: flex;
	gap: 60px 40px;
}

.mailing-list__text {
	flex-basis: 580px;
}

.mailing-list__form {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 580px;
}

.mailing-list__email {
	font-family: var(--font-family);
	width: 439px;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	margin-right: 25px;
	padding: 3px 15px;
	border-bottom: 1px solid #b8b58b;
	background-color: transparent;
	color: var(--text-input);
}

.mailing-list__email::placeholder {
	font-family: var(--font-family);
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	color: #b8b58b;
}

.mailing-list__btn {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 20px;
	padding: 12px 41px;
	width: 116px;
	height: 51px;
	border: 1px solid #151618;
	background-color: #fff;
}

.mailing-list__label {
	margin-top: 12px;
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	padding-left: 20px;
	clear: rect(0, 0, 0, 0);
	overflow: hidden;
}

.checkbox-style {
	position: absolute;
	width: 10px;
	height: 10px;
	margin-top: 4px;
	border: 1px solid #151618;
	background-color: #fff;
}

.checkbox__text {
	font-size: 13px;
	line-height: 1.3847; /* 18/13 */
	padding-left: 20px;
}

.checkbox:checked + .checkbox-style::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	background-color: #b8b58b;
}

/* ===== Section PRIORITISE 1200x286px===== */
.prioritise__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	gap: 30px 49px;
}

.prioritise__item-title {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3667; /* 41/30 */
	margin-bottom: 10px;
}

.prioritise__item-text {
	font-weight: 600;
	line-height: 1.35; /* 27/20 */
	margin-bottom: 40px;
}

.prioritise__item-img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

/* ===== Footer 1600x593px===== */
.footer {
	/* min-height: 593px; */
	padding: 100px 0 18px;
	background-color: var(--background-section);
}

.footer__top {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0 40px;
	margin-bottom: 100px;
}

.footer-products__title,
.footer-company__title,
.footer__contacts-title {
	font-family: var(--second-family);
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2084; /* 29/24 */
	margin-bottom: 50px;
}

.footer-products__item,
.footer-company__item {
	font-size: 16px;
	line-height: 1.375; /* 22/16 */
}

.footer-products__item:not(:last-child),
.footer-company__item:not(:last-child) {
	margin-bottom: 20px;
}

.footer__blockquote-text {
	font-size: 16px;
	font-style: italic;
	line-height: 1.375; /* 22/16 */
	margin: 79px 0 20px;
}

.footer__blockquote-author {
	font-size: 12px;
	font-style: normal;
}

.footer__blockquote-author span {
	display: block;
}

.footer__contacts-text {
	font-size: 13px;
	line-height: 1.3847; /* 18/13 */
	margin-bottom: 20px;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.footer__nav-logo {
	margin-right: 40px;
}

.footer__nav-contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__nav-phone,
.footer__nav-email {
	position: relative;
	display: block;
	font-size: 13px;
	line-height: 1.385;
	padding-left: 32px;
}

.footer__nav-phone::before,
.footer__nav-email::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 16px;
	background-image: url(../images/icons/footer/email.svg);
}

.footer__nav-phone::before {
	width: 21px;
	height: 21px;
	background-image: url(../images/icons/footer/phone.svg);
}

.footer__social {
	margin-top: 39px;
	margin-left: 97px;
}

.footer__social-list {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.footer__bottom {
	display: flex;
}

.footer__copyright {
	font-size: 16px;
	line-height: 1.375; /* 22/16 */
	margin-right: 192px;
}

.footer-payments__list {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

/* =============== @ Media-rules @ =============== */

@media (max-width: 1000px) {
	.section {
		margin: 120px 0;
	}

	/* ===== Header 960x105px ===== */
	.header__inner {
		min-height: auto;
		padding: 30px 0;
	}

	.logo {
		margin-bottom: 0;
	}

	.header-menu {
		margin-right: auto;
	}

	.header-menu__list {
		margin-left: 59px;
	}

	.user-actions__item-search {
		margin-left: 30px;
	}

	/* ===== Section COLLECTIONS 960x231px ===== */
	.collections__title {
		margin-bottom: 30px;
	}

	.collections__list {
		gap: 0;
	}
	/* ===== Section REVIEWS 1000x397px ===== */
	.reviews__item:last-child {
		display: none;
	}

	/* ===== Section BLOG 940x592px ===== */
	.main-blog__list {
		gap: 67px 20px;
	}

	.main-blog__item {
		flex-basis: 460px;
	}

	.main-blog__item-img {
		max-width: 230px;
	}

	/* ===== Section MAILING LIST 1000x495px ===== */
	.section-mailing-list {
		padding: 60px 0;
	}

	.mailing-list__title {
		text-align: center;
		margin-bottom: 60px;
	}

	.mailing-list__inner {
		justify-content: center;
		flex-wrap: wrap;
	}

	.mailing-list__text {
		text-align: center;
		flex-basis: 780px;
	}

	/* ===== Section PRIORITISE 757x494px ===== */
	.prioritise__list {
		gap: 30px 210px;
	}

	/* ===== Footer 1000x540px ===== */

	.footer {
		padding-bottom: 10px;
	}

	.footer__top {
		grid-template-columns: 97px 155px 269px 270px;
		gap: 56px;
		margin-bottom: 55px;
	}

	.footer__blockquote-text {
		margin-top: 0;
	}

	.footer__copyright {
		margin-right: 38px;
	}
}

@media (max-width: 860px) {
	/* ===== Header ===== */
	.logo {
		margin-left: auto;
		margin-right: auto;
	}

	.header-menu {
		order: -1;
		margin-right: 0;
	}

	.header-menu__btn {
		display: flex;
	}

	.header-menu__list {
		display: block;
		transform: translateY(-100%);
		transition: transform 0.5s ease;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 480px;
		margin: 0 auto;
		padding-top: 60px;
		background-color: var(--background-color);
	}

	.header-menu__list.header-menu__list--open {
		transform: translateY(0%);
	}

	.header-menu__close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.header-menu__item {
		font-family: var(--second-family);
		font-size: 24px;
		line-height: 1.2; /* 29/24 */
		margin-bottom: 30px;
		color: #000;
	}

	.header-menu__item-last {
		margin-bottom: 0;
	}

	.mobile-menu {
		margin: 60px 30px;
		padding-top: 60px;
		border-top: 2px solid #f7f2ea;
	}

	.mobile-menu__item:last-child {
		margin-bottom: 35px;
	}

	.mobile-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 0 80px;
		background-color: var(--background-section);
	}

	.mobile-nav,
	.header-menu__close {
		display: block;
	}
}

@media (max-width: 768px) {
	.container {
		padding-left: 64px;
		padding-right: 64px;
	}

	.container-tab {
		padding-left: 19px;
		padding-right: 19px;
	}

	/* ===== Header 640x105px ===== */

	/* ===== Section HERO 768x500px ===== */
	.hero__title {
		max-width: 684px;
	}

	/* ===== Section QUOTE 640x96px ===== */
	.sectione-quote {
		margin-bottom: 135px;
	}

	.blockquote__text {
		line-height: 1.2; /* 48/40 */
		max-width: 640px;
	}

	/* ===== Section COLLECTIONS 640x582px ===== */
	.collections__title {
		margin-bottom: 40px;
	}

	.collections__list {
		flex-wrap: wrap;
		justify-content: center;
	}

	/* ===== Section REVIEWS 768x596px ===== */
	.section-reviews {
		padding-bottom: 82px;
	}

	.reviews__list {
		flex-wrap: wrap;
		gap: 30px 76px;
	}

	.reviews__item:last-child {
		display: block;
	}

	/* ===== Section BLOG 640x1029px===== */
	.main-blog__list {
		gap: 30px 20px;
	}

	.main-blog__item {
		flex-basis: 542px;
	}

	.main-blog__item:nth-child(even) {
		margin-left: 98px;
	}

	.main-blog__item-img {
		max-width: 270px;
	}

	/* ===== Section MAILING LIST 769x529px===== */
	.mailing-list__text {
		flex-basis: 640px;
	}

	.mailing-list__label {
		margin-top: 16px;
	}

	/* ===== Section PRIORITISE 638x494px===== */
	.prioritise__list {
		gap: 30px 89px;
	}

	/* ===== Footer 768x632px ===== */
	.footer {
		padding-top: 50px;
	}

	.footer__top {
		grid-template-columns: repeat(3, 1fr);
		gap: 46px;
		margin-bottom: 20px;
	}

	.footer-products__list,
	.footer-company__list {
		grid-row: span 3;
	}

	.footer__blockquote-author {
		line-height: 0.9175;
	}

	.footer__contacts {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		width: 270px;
	}

	.footer__social {
		margin-top: 19px;
	}
}

@media (max-width: 680px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	/* ===== Header ===== */
	.header__inner {
		margin-left: 0;
		margin-right: 0;
	}

	/* ===== Section HERO ===== */
	.hero__title {
		font-size: 40px;
		line-height: 1.2; /* 48/40 */
	}

	/* ===== Section QUOTE ===== */
	.sectione-quote {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.blockquote__text {
		max-width: 512px;
		font-size: 26px;
		line-height: 1.385;
	}

	/* ===== Section BLOG ===== */
	.main-blog__item:nth-child(even) {
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.section {
		margin: 60px 0;
	}

	.section__title {
		margin-bottom: 30px;
	}

	/* ===== Header 460x56px ===== */
	.header__inner {
		padding: 10px 0;
	}

	.logo {
		margin-right: auto;
	}

	.logo img {
		width: 39px;
		height: 56px;
	}

	.header-menu__list {
		width: 360px;
	}

	/* ===== Section HERO 480x500px ===== */
	.hero__title {
		max-width: 450px;
	}

	.hero__subtitle {
		max-width: 450px;
		line-height: 1.2085;
		margin-bottom: 50px;
	}

	/* ===== Section QUOTE 376x44px ===== */
	.sectione-quote {
		padding-top: 0;
		padding-bottom: 0;
	}

	.blockquote__text {
		max-width: 376px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.375; /* 22/16 */
	}

	/* ===== Section COLLECTIONS 416x819px ===== */

	/* ===== Section REVIEWS 480x588px ===== */
	.section-reviews {
		padding: 50px 0;
	}

	.reviews__title {
		margin-bottom: 50px;
	}

	.reviews__list {
		gap: 30px 20px;
	}

	.reviews__item {
		flex-basis: 220px;
	}

	/* ===== Section BLOG 460x922px===== */
	.main-blog__title {
		margin-bottom: 60px;
	}

	.main-blog__item-img {
		max-width: 230px;
	}

	/* ===== Section MAILING LIST 480x415px===== */
	.section-mailing-list {
		padding: 50px 0;
	}

	.mailing-list__inner {
		gap: 30px 0;
	}

	.mailing-list__text {
		flex-basis: 100%;
		font-size: 13px;
		line-height: 1.3847; /* 18/13 */
	}

	.mailing-list__email {
		width: 324px;
		margin-right: 20px;
	}

	.mailing-list__btn {
		height: 51px;
	}

	.mailing-list__label {
		margin-top: 12px;
	}

	/* ===== Section PRIORITISE 294x940px===== */
	.prioritise__list {
		row-gap: 50px;
	}

	/* ===== Footer 480x855px ===== */
}

@media (max-width: 360px) {
	/* ===== Header 340x56px ===== */
	.section {
		margin: 50px 0;
	}

	.user-actions__list {
		height: 22px;
	}

	/* ===== Section HERO 360x367px ===== */
	.hero__inner {
		min-height: 367px;
	}

	.hero__title {
		font-size: 24px;
		line-height: 1.2085;
		margin-bottom: 10px;
	}

	.hero__subtitle {
		max-width: 332px;
		font-size: 13px;
		font-weight: 300;
		line-height: 1.385;
		margin-bottom: 30px;
	}

	.user-actions__item-search {
		margin-left: 0;
	}

	/* ===== Section QUOTE 340x44px ===== */
	.sectione-quote {
		padding-top: 70px;
		padding-bottom: 40px;
	}

	.blockquote__text {
		max-width: 340px;
	}

	/* ===== Section COLLECTIONS 360x736px ===== */
	.section-collections {
		padding: 40px 0;
	}

	.collections__title {
		font-size: 24px;
		line-height: 1.2084; /* 29/24 */
		margin-bottom: 0;
	}

	.collections__img {
		max-width: 170px;
	}

	/* ===== Section REVIEWS 356x461px ===== */
	.reviews__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.2085; /* 29/24 */
		margin-bottom: 30px;
	}

	.reviews__item {
		flex-basis: 100%;
	}

	.reviews__item:nth-child(2),
	.reviews__item:nth-child(3) {
		display: none;
	}

	/* ===== Section BLOG 270x795px===== */
	.main-blog__title {
		font-size: 24px;
		line-height: 1.2084; /* 29/24 */
		margin-bottom: 30px;
	}

	.main-blog__list {
		justify-content: center;
	}

	.main-blog__item {
		display: block;
		max-width: 270px;
	}

	.main-blog__item:nth-child(even) {
		display: none;
	}

	.main-blog__item-img {
		max-width: 100%;
	}

	.main-blog__item-title {
		line-height: 1.1948;
		min-height: auto;
		margin: 10px 0 5px;
	}

	.main-blog__item-author {
		margin-bottom: 10px;
	}

	.main-blog__link {
		margin: 30px auto 0;
	}

	/* ===== Section MAILING LIST 360x432px===== */
	.mailing-list__title {
		font-size: 24px;
		line-height: 1.2084; /* 29/24 */
	}

	.mailing-list__email {
		width: 205px;
		margin-right: 19px;
	}

	/* ===== Section PRIORITISE 340x713px===== */
	.prioritise__title {
		font-size: 24px;
		line-height: 1.2084; /* 29/24 */
	}

	.prioritise__list {
		gap: 40px;
	}

	.prioritise__item-title {
		font-size: 20px;
		line-height: 1.5;
	}

	.prioritise__item-text {
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	/* ===== Footer 360x897px ===== */
}
