/* * ===== GENERAL styles ===== * */
body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	background: var(--background-color);
	color: var(--text-black);
}

h1,
h2,
h3 {
	font-family: var(--second-family);
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.section {
	padding: 75px 0;
}

.section__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 1.2; /* 48/40 */
	text-align: center;
	margin-bottom: 60px;
}

/* * ===== Header 1200x142px ===== * */
.header__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 142px;
	padding: 30px 0 28px;
}

.logo {
	margin-bottom: 37px;
}

.header-menu__list {
	display: flex;
	gap: 65px;
	font-size: 18px;
	font-weight: 400;
	margin-left: 75px;
}

.user-actions__list {
	display: flex;
	gap: 0 20px;
	height: 29px;
}

.user-actions__item {
}

.user-actions__item-search {
	display: flex;
	align-items: center;
	margin-left: 80px;
}

/* * ===== Section HERO 1599x500px ===== * */
.section-hero {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%);
	background-image: url('../images/jpg/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	min-height: 100vw;
	padding-top: 0;
}

.hero__title {
	max-width: 789px;
	font-size: 60px;
	line-height: 1; /* 60/60 */
	margin-bottom: 20px;
	color: var(--text-white);
}

.hero__subtitle {
	font-size: 24px;
	line-height: 1.2;
	max-width: 558px;
	color: var(--text-white);
}

/* * ===== Section QUOTE 704x96px ===== * */
.quote {
	font-family: var(--second-family);
	max-width: 704px;
	margin: 0 auto;
	font-size: 40px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2; /* 48/40 */
	text-align: center;
}

/* * ===== Section COLLECTIONS 1200x355px ===== * */
.collections__items {
	display: flex;
	gap: 40px;
}

.collections__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.collections__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2084; /* 29/24 */
}

/* * ===== Section REVIEWS 1600x397px===== * */
.section-reviews {
	padding: 60px 0;
	background: var(--background-section);
}

.reviews__title {
}

.reviews__items {
	display: grid;
	grid-template-columns: repeat(4, 280.5px);
	gap: 26px;
}

.review__item {
}

.review__quote {
	font-style: italic;
	font-weight: 300;
	margin: 0 0 10px 0;
}

.review__author {
	font-weight: 600;
	font-size: 20px;
}
