:root {
	--font-family: 'Open Sans', sans-serif;
	--second-family: 'Cormorant', sans-serif;
	--text-black: #151618;
	--text-white: #ffffff;
	--background-color: #ffffff;
	--background-section: #f7f2ea;
}
